name: Integration tests
on:
  push:
jobs:
  simple:
    runs-on: ubuntu-latest
    steps:
      - name: Generate cache key
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        id: generate-key
        with:
          script: |
            core.setOutput('cache-key', new Date().valueOf())
      - name: Retrieve cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ github.workspace }}/blueskyfeedbot
          key: feed-cache-${{ steps.generate-key.outputs.cache-key }}
          restore-keys: feed-cache-
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Run action
        uses: './'
        with:
          # This is the RSS feed you want to publish
          rss-feed: 'https://githubraw.com/joschi/blueskyfeedbot/main/tests/simple.xml'
          dry-run: false
          # This is the Bluesky username
          username: ${{ secrets.BLUESKY_USERNAME }}
          # This is the app password you created earlier
          password: ${{ secrets.BLUESKY_PASSWORD }}
          # This is a path to the cache file, using the above cache path
          cache-file: ${{ github.workspace }}/blueskyfeedbot/cache.json

  simple-without-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Run action
        uses: './'
        with:
          # This is the RSS feed you want to publish
          rss-feed: 'https://githubraw.com/joschi/blueskyfeedbot/main/tests/simple-no-cache.xml'
          dry-run: false
          # This is the Bluesky username
          username: ${{ secrets.BLUESKY_USERNAME }}
          # This is the app password you created earlier
          password: ${{ secrets.BLUESKY_PASSWORD }}
          # This is a path to the cache file, using the above cache path
          cache-file: ${{ github.workspace }}/blueskyfeedbot/cache.json

  simple-dry-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Run action
        uses: './'
        with:
          # This is the RSS feed you want to publish
          rss-feed: 'https://githubraw.com/joschi/blueskyfeedbot/main/tests/simple.xml'
          dry-run: true
          # This is the Bluesky username
          username: ${{ secrets.BLUESKY_USERNAME }}
          # This is the app password you created earlier
          password: ${{ secrets.BLUESKY_PASSWORD }}
          # This is a path to the cache file, using the above cache path
          cache-file: ${{ github.workspace }}/blueskyfeedbot/cache.json

  simple-disable-facets:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Run action
        uses: './'
        with:
          # This is the RSS feed you want to publish
          rss-feed: 'https://githubraw.com/joschi/blueskyfeedbot/main/tests/simple.xml'
          # Disable auto-detection of rich text facets
          disable-facets: true
          # This is the Bluesky username
          username: ${{ secrets.BLUESKY_USERNAME }}
          # This is the app password you created earlier
          password: ${{ secrets.BLUESKY_PASSWORD }}
          # This is a path to the cache file, using the above cache path
          cache-file: ${{ github.workspace }}/blueskyfeedbot/cache.json

  simple-template:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Run action
        uses: './'
        with:
          # This is the RSS feed you want to publish
          rss-feed: 'https://githubraw.com/joschi/blueskyfeedbot/main/tests/simple-template.xml'
          # Template of status posted to Bluesky (Handlebars)
          template: |
            {{feedData.title}}: {{item.title}}

            {{item.link}}
          # This is the Bluesky username
          username: ${{ secrets.BLUESKY_USERNAME }}
          # This is the app password you created earlier
          password: ${{ secrets.BLUESKY_PASSWORD }}
          # This is a path to the cache file, using the above cache path
          cache-file: ${{ github.workspace }}/blueskyfeedbot/cache.json
